.button {
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field-underline {
    background-color: white;
  }
  .mat-form-field-ripple {
    background-color: white;
  }
  .mat-form-field-required-marker {
    color: white;
  }
  .mat-error {
    color: white;
  }
}

::ng-deep .mat-form-field.mat-focused {
  .mat-form-field-label {
    color: white;
  }
  .mat-form-field-ripple {
    background-color: white;
  }
  .mat-form-field-required-marker {
    color: white;
  }
  .mat-input-element {
    color: white;
  }
}

::ng-deep .mat-form-field.mat-form-field-invalid {
  .mat-input-element {
    color: white;
  }
  .mat-form-field-label {
    color: white;
    .mat-form-field-required-marker {
      color: white;
    }
  }
  .mat-form-field-ripple {
    background-color: white;
  }
}

