<div *ngIf="routeLocation !== undefined; else elseBlock">
  <button class="card" [routerLink]=[routeLocation] [disabled]="disabled">
    <i class="material-icons">{{icon}}</i>
    <span>{{text}}</span>
    <i class="material-icons">
      keyboard_arrow_right
    </i>
  </button>
</div>
<ng-template #elseBlock>
  <button class="card" [disabled]="disabled">
    <i class="material-icons">{{icon}}</i>
    <span>{{text}}</span>
    <i class="material-icons">
      keyboard_arrow_right
    </i>
  </button>
</ng-template>
